<!-- public/index.html -->
<!-- Automatic git pull worked! -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  
</head>
<body>
  <header>
    {% extends 'navigation.html' %}
  </header>

  <h2>Upload Pictures</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
  </form>

</body>
</html>
